body{
    background-color: #303f43;
    font-family: "Roboto", sans-serif;
}

.weatherwhiz-app {
background-image: url("https://s3.amazonaws.com/shecodesio-production/uploads/files/000/129/452/original/ivan-ulamec-F-kdP4Hk7lg-unsplash.jpg?1718720484");
background-size:cover; 
background-repeat:no-repeat;
max-height: 400px; 
max-width: 400px;
margin: 60px auto;
padding: 20px 10px 20px 10px;
border-radius: 15px;
box-shadow:10px 10px 20px rgba(0, 0, 0, 0.4);
}

.search-form{
display: flex;
justify-content: center;
padding: 0px  
}
ul{
display: flex;
justify-content: center;
padding: 0px  
}
li {
display: inline-block;
background: #303f43;
width: 60px;
height: 60px;
border: 1px inset black;
border-radius: 6px;
color: #cac6af;
font-size: 16px;
line-height: 30px;
text-align: center;
box-shadow:10px 10px 20px rgba(0, 0, 0, 0.4)
}

h1{
color: black;
font-size: 40px;
}
.forecast{
padding: 0px; 
margin:0px ; 
}
footer{
color: black;
font-size: 12px;
margin: 10px auto;
}
a{
color: black;
}

.search-form-input {
width: 70%;
border:1px inset black;
border-radius: 8px;
background: #303f43;
padding: 15px 20px;
color: black;
box-shadow:10px 10px 20px rgba(0, 0, 0, 0.4)

}
.search-form-button{
background: #303f43 ;
padding: 15px 20px;
border: 1px inset black;
border-radius: 6px;
color: #cac6af;
box-shadow:10px 10px 20px rgba(0, 0, 0, 0.4)
}