body{
    background-color: pink;
}

.weatherwhiz-app {
background-image: url("https://s3.amazonaws.com/shecodesio-production/uploads/files/000/129/454/original/tom-barrett-hgGplX3PFBg-unsplash.jpg?1718720528");
background-size:cover; 
background-repeat:no-repeat;
height: 400px; 
margin: 60px auto;
padding: 50px;
border-radius: 8px;
box-shadow:10px 10px 20px rgba(0, 0, 0, 0.4);
}