body{
background-color: #303f43;
font-family: "Roboto", sans-serif;
opacity:0.85;
}

.weatherwhiz-app {
background-image: url("https://s3.amazonaws.com/shecodesio-production/uploads/files/000/129/452/original/ivan-ulamec-F-kdP4Hk7lg-unsplash.jpg?1718720484");
background-size:cover; 
background-repeat:no-repeat;
max-height: 400px; 
max-width: 480px;
margin: 60px auto;
padding: 20px 20px 20px 20px;
border-radius: 15px;
box-shadow:10px 10px 20px rgba(0, 0, 0, 0.4);
}

.search-form{
display: flex;
justify-content: center;
padding: 0px;
opacity: 0.9;  
}
ul{
display: flex;
justify-content: center;
padding: 0px;
opacity: 0.85;
}
li {
display: inline-block;
background: #303f43;
width: 60px;
height: 60px;
border: 1px inset black;
border-radius: 6px;
color: #cac6af;
font-size: 16px;
line-height: 30px;
text-align: center;
box-shadow:10px 10px 20px rgba(0, 0, 0, 0.4)
}
h1{
margin: 30px 0 0 0 ;
font-weight: lighter; 
font-size: 50px; 
}
h2{
margin: 0px auto;
font-size: 20px;
font: weight 5px;;
}
p{
  margin: 0 auto;
  color: #cac6af;
  font-weight: lighter;
  padding-bottom: 5px;  
}
.weather-data{
display: flex;
justify-content: space-between ;
font-weight: lighter;
color: #cac6af;
}
.city-country{
color: #cac6af;
line-height: 45px;
margin-top: 0px;
font-size: 45px;
}

.forecast{
padding: 0px; 
margin:0px ; 
}
footer{
color: #cac6af;
font-size: 14px;
font-weight: lighter;
text-align: center;
margin: 10px auto;
border-top: .5px solid #303f43;
padding: 5px 0 0 0;
}
a{
color: #cac6af;
font-weight: bolder;
}

.search-form-input {
width: 70%;
border:1px inset black;
border-radius: 8px;
background: #303f43;
padding: 15px 20px;
color: black;
box-shadow:10px 10px 20px rgba(0, 0, 0, 0.4)

}
.search-form-button{
background: #303f43 ;
padding: 15px 20px;
border: 1px inset black;
border-radius: 6px;
color: #cac6af;
box-shadow:10px 10px 20px rgba(0, 0, 0, 0.4)
}
.display-temperature{
display: inline-flex; 
justify-content: right;
padding-top: 25px;
}

.degree-celcius{
font-size: 30px;
}
.display-degree-celsius{
    font-size: 45px;
}
.display-icon{
line-height: 40px;
font-size: 32px ;
padding-top: 10px;
}